django>=3.2,<3.3
django-dotenv
djangorestframework
pyyaml
requests
django-cors-headers
django-jazzmin
django-autocomplete-light
django-ckeditor
djangorestframework-api-key
django-session-timeout
django-filter
markdown