{% extends 'admin/change_form.html' %}
{% load i18n admin_urls static admin_modify %}

{% block submit_buttons_bottom  %} 
{% block system-power-buttons %}
  <div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">
            {% trans 'User Actions' %}
        </h3>
    </div>
    <div class="card-body">
      <div class="form-group">
        <button type="button" onclick="window.location='/admin/auth/user/{{original.id}}/password/';" class="btn btn-success form-control"><i class="fas fa-edit"></i>Change Password</button>
      </div>
    </div>
  </div>
{% endblock %}
  {{ block.super }}
{% endblock %}
