a {
  color: #20c997;
}

.accent-primary .btn-link, .accent-primary .nav-tabs .nav-link, .accent-primary a:not(.dropdown-item):not(.btn-app):not(.nav-link):not(.brand-link):not(.page-link):not(.btn) {
  color: #20c997;
}

a.btn-default {
  background-color: #56cc9d;
}

.card-primary.card-outline {
  border-top: 3px solid #20c997;
}
.nav-sidebar .nav-item>.nav-link {
  color: #20c997 ;
}
.nav-sidebar>.nav-item.menu-open>.nav-link {
  background-color: #073d2d !important;
  color: #FFF !important;
}
.nav-sidebar .nav-item>.nav-link.active {
  background-color: #20c997 !important;
}
.timeline>div>.timeline-item>.time {
  width: 100%;
}

input[id^="id_networkinterface_set"]  {
  width: 150px;
}

a.inline-deletelink {
  float: none;
  margin-bottom: 10px;
  display: inline-block;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #20c997;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #FFF;
  margin-left: 0px;
  border-right: 1px solid black;

}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
  padding-left: 10px;
  color: white;
}
td.delete input {

  width: 100%;
}
/* .nav-sidebar>.nav-header{
 
  display: none !important;
} */
.btn.btn-flat{
  margin-left: 5px;
  margin-right: 5px;
}
.col-lg-9 {
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  max-width: 80%;
}

.col-lg-3 {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

.alert {
  color: #856b36;
  font-weight: bold;
} 

.alert-success, .alert-success>td, .alert-success>th {
  background-color: #56cc9d;
  color: #000;
  font-weight: bold;
}

.alert-success a{
  color: #fff !important;
  font-weight: bold;
}
.breadcrumb-item.active {
  color: #6c757d;
  font-weight: bold;
}
.font-weight-light {
 font-weight: 400 !important;
}

@media (prefers-color-scheme: dark) {
  li.nav-item.has-treeview {
      color: #fff !important;
  }
  .nav-sidebar .nav-item>.nav-link:hover {
      color: #fff !important;
  }
  aside {
          background-color: #303030 !important;

  }
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .card-body {
    color: #fff !important;
  }
  .card{
    border: 1px solid rgba(255, 255, 255, .125);
  }
  .content-wrapper {
      background-color: #303030;
  }
}