{% extends 'admin/base.html' %}

{% load i18n static jazzmin admin_urls %}
{% block extrahead %}
<script src="/static/textarea_tab.js"></script>
{% endblock %}



{% block footer %}
  {% if not is_popup %}
    <footer class="main-footer {{ jazzmin_ui.footer_classes }}">
        <div class="float-right d-none d-sm-inline">
            <b>{% trans 'Made with Django and Jazzmin version' %}</b> {% get_jazzmin_version %}
        </div>
    </footer>
    {% if jazzmin_settings.show_ui_builder %}
        {% include 'jazzmin/includes/ui_builder_panel.html' %}
    {% endif %}
  {% endif %}


{% endblock %}